/* body style */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   overflow: hidden;
   font-family: Arial;
}



/* List Style */

ul {
   list-style-type: none;
}

li:hover {
   cursor: pointer;
   text-decoration: underline;
}

a{
   text-decoration: none;
   color: #444;
}

/* header style */

.nav-bar {
   display: flex;
   justify-content: flex-end;
   padding: 10px 0;
}

.nav-bar ul {
   display: flex;
   align-items: center;
}
.nav-bar ul img {
   border-radius: 50%;
}
.nav-bar ul li {
   margin: 0 10px;
}

/* container1 style */



/* footer style */

.footer {
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   background-color: #eee;
   padding: 10px 0px;
}
footer h3 {
   color: #555555;
   font-weight: 400;
   border-bottom: 1px solid #AAA;
   padding: 0 30px 10px;

}
.footer .footer-a {
   display: flex;
   align-items: center;
   justify-items: center;
   flex-direction: column;
}
.footer .footer-a ul {
   display: flex;
   padding: 10px 0;
}
.footer .footer-a ul li {
   font-size: 18px;
   margin: 0 10px;
   color: #555555;
}